:root {
  --padding-x: 20px;
}

#App {
  max-width: 1280px;
  margin: auto;
}

#App-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  min-height: 100px;
}

#App-header button {
  position: absolute;
  left: 15px;
  padding: 0;
  border: none;
  background: none;
}

#App-header > button > svg {
  height: 3vh;
}

#App-header a {
  color: inherit;
  text-decoration: none;
}

a:has(#App-logo) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#App-logo {
  height: 35px;
  margin-bottom: 15px;
}

#App-main {
  position: relative;
  min-height: 80vh;
  width: 100%;
  padding: 0 15px;
  overflow-x: hidden;
}

#App-footer > div {
  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
  backdrop-filter: contrast(0.95);
}

.page-loader {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  clip-path: inset(-45px);
  box-shadow: -60px 15px, -60px 15px, -60px 15px;
  transform: translateY(-15px);
  animation: l19 1s infinite linear;
}

@keyframes l19 {
  16.67% {
    box-shadow: -60px 15px, -60px 15px, 19px 15px;
  }
  33.33% {
    box-shadow: -60px 15px, 0px 15px, 19px 15px;
  }
  40%,
  60% {
    box-shadow: -19px 15px, 0px 15px, 19px 15px;
  }
  66.67% {
    box-shadow: -19px 15px, 0px 15px, 60px 15px;
  }
  83.33% {
    box-shadow: -19px 15px, 60px 15px, 60px 15px;
  }
  100% {
    box-shadow: 60px 15px, 60px 15px, 60px 15px;
  }
}

.page {
  height: 100%;
  width: 100%;
}

.page-enter {
  opacity: 0;
  transform: translateX(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0px);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 300ms, transform 300ms;
}

@media (min-width: 768px) {
  #App-main {
    padding: 0 var(--padding-x);
  }

  #App-header > button {
    left: var(--padding-x);
  }
}

@media (min-width: 1320px) {
  #App-header > button {
    left: 0px;
  }

  #App-main {
    padding: 0px;
  }

  #App-footer > div {
    margin-left: 0%;
    margin-right: 0%;
  }
}
