#presentation {
  margin: 10% 0 15% 0;
  text-align: justify;
}

#cards .text {
  margin: 5% auto;
  text-align: center;
}

@media (min-width: 768px) {
  #presentation {
    margin: 5% 0 10% 0;
    text-align: justify;
  }

  #cards {
    align-items: stretch;
  }

  #cards .card {
    margin: 0;
  }

  #cards .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #cards .text {
  margin: auto;
}
}
