#presentation {
  margin: 4% 0 10% 0;
}

#cards > .card {
  text-align: center;
}

#cards > .text {
  margin: 10% 0;
  text-align: center;
}

#cards a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  #cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #cards > .card {
    width: 35%;
  }
}