.joke-container {
  min-height: 60vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.card-header {
  font-weight: 600;
  text-align: center;
}

.card-title {
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 10%;
}

.card-text > * {
  display: block;
}

.answer {
  width: fit-content;
  margin: 5% auto;
  padding: 5px 10px;
  font-size: smaller;
  font-weight: 500;
  background: aquamarine;
  border-radius: 10px;
}

.answer.hidden {
  text-align: center;
  background-color: whitesmoke;
  opacity: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.joke-container .nav-button {
  height: 60px;
  width: 100%;
}

.joke-container .nav-button:first-of-type {
  margin-bottom: 15px;
}

/* Components animations */
.component-enter {
  opacity: 0;
}

.component-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.component-exit {
  opacity: 1;
}

.component-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media (min-width: 768px) {
  .joke-container .nav-button {
    width: 45%;
    margin: 0;
  }
}
